body {
  margin: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.conteiner {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  height: 60px;
}
 
.header-logo {
  padding: 10px 50px 0px 60px;
}

.header ul {
  list-style: none;
  display: flex;
  padding-left: 40px;
}

.header li {
  padding-top: 7px;
  padding-left: 40px;
  padding-right: 40px;
  opacity: 1;
}

.header li:hover {
  opacity: 0.7;
}

.languages {
  padding-top: 21px;
  padding-right: 5px;
  padding-left: 90px;  
  opacity: 1;
}

.languages:hover {
  opacity: 0.7;
}

.mission-wrapper {
  background-image: url(../images/boracay2.png);
  background-size: cover;
  height: 750px;
  width: 100%;
  color: aliceblue;
  opacity: 0.5;
  
}
.mission-wrapper:hover {
  opacity: 1;
}

.mission-heading {
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 38px;
  letter-spacing: 3px;
}

.btn-mission {
  border: 3px solid rgb(136, 148, 82);
  color: rgb(136, 148, 82);
  border-radius: 6px;
  padding: 7px 18px;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.7;
}

.btn-mission:hover {
  opacity: 1;
}

.images {
  display: flex;
}

main div.animal {
  width: calc(33.3% - 10px);
  margin: 5px;
}

.activity-wrapper {
  height: 850px;
  max-width: 1600px;
}

.activity-title {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 38px;
  letter-spacing: 3px;
}

.images {
  justify-content: center;
}

.thumbnail300 {
  width:  440px;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;

  
}

.name-activity {
  padding-left: 10px;
  font-size: 20px;
}

.text-contents {
  padding-left: 10px;  
  max-width: 440px;
}

.btn {
  border: 1px solid black;
  padding: 5px 15px;
  color: black;
  border-radius: 6px 6px 0 0;
  float: right;
}

.member-wrapper {
  height: 880px;
  position: relative;
  font-size: 20px;
  background-image: url(../images/gogo.jpg);
  background-color:rgba(243, 238, 226, 0.966);
  background-blend-mode:lighten;
}

.member-title {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 38px;
  letter-spacing: 3px;
}

.characters {
  display: flex;
  justify-content: center;

}

.character {
  padding: 0 2px;
}

.thumbnail2 {
  width:  330px;
  height: 550px;
  justify-content: center;

}

.btn-team {
  border: 3px solid white;
  color: white;
  border-radius: 6px;
  padding: 7px 18px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top:  68%;
  opacity: 1;
}

.btn-team:hover {
  opacity: 0.7;
}

.heading-news {
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 38px;
  letter-spacing: 3px;
  text-align: center;
  border-bottom: 7px solid rgba(107, 107, 106, 0.829);
  padding-bottom: 40xp;
}

.news-contents:hover {
  opacity: 0.6;
}


.news-wrapper {
  height: 500px;
  width: 600px;
  padding: 0 15px;
  margin: 0 auto;
}

.news-wrapper li {
  padding-top: 30px;
  list-style: none;
  flex-wrap: wrap;
  border-bottom:2px solid gray;
  display: inline-block;
  padding-bottom: 30px;
}

time {
  color: rgba(107, 107, 106, 0.829);
  display: inline-block;
  padding-bottom: 5px;
}

.news-wrapper div {
  display: flex;
  max-width: 500px;  
}

.btn-area {
  height: 200px;
}

.btn-news {
  margin-top: 30px;
  border: 2px solid black;
  color: black;
  border-radius: 6px;
  padding: 7px 18px;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  opacity: 1;
}

.btn-news:hover {
  opacity: 0.6;
}

.footer-link-box {
  display: flex;
}

.footer {
  height: 300px;
  background-color: rgb(44, 44, 44);
  margin: 0 auto;

}

.flex-list {
  list-style: none;
 }

footer-link-box-item {
  flex: auto;

}


/* これより下はJS */

.gold {
  color: white;
  font-size: 100px;
}

.color {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
}
 
.hidden {
  transition: all 1s ease;
  opacity: 0;
}




